
button {
    flex:1;
    border-radius: 8px;
    border-color: #fa9483;
    /* // outline: 'none', */
    outline: #fa9483;
    margin: 20px;
    width: 30%;
    padding: 6px 6px;
    /* // color: '#fff', */
    color: #fa9483;
    font-size: 10px;
    letter-spacing: 1px;
    /* // background: '#fa9483', */
    background: #fff;
    cursor: pointer;
}