.DS_Store
insta-chef-ed314-firebase-adminsdk.json
/node_modules
/insta-chef/node_modules

.idea/
__pycache__/
.firebase/
.env
/src/support/service_credentials.json
/src/support/venv
/src/support/recipelist.json
/build/
firebase.json
database.rules.json
.firebaserc
.nvmrc
