.tab-list {  border-bottom: 3px solid darksalmon;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: 0;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  transition-duration: 0.4s;
  color:white;
  background-color: lightslategrey;
}

.tab-list-active {
  background-color: #4097aa;
  border: solid darksalmon;
  border-width: 3px 2px 0 2px;
  cursor: pointer;
  color: #15CDFC
}

.tab-list-item:hover{
  background-color: black;
  color: white;
}

.tab-box{
  color: black;
  background-color: rgb(202, 230, 240);
}