/*style sheet for recipe instructions*/

.tile_front{
    width: 200px;
    height: 200px;
    border: 4px solid #999; 
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.button-style{
    width: 80px;
    height: 40px;
    border: 4px solid #999; 
    padding: 5px;
    font-size: 12px;
    font-style: 4097aa;
    text-align: center;
    align-self: center;
}

.favorite-button{
    width: 200px;
    height: 40px;
    border: 4px solid #999;
    padding: 5px;
    font-size: 12px;
    font-style: 4097aa;
    text-align: center;
    float: right;
}

.recipe-details {
    vertical-align: top;
    /*padding: 50px;*/
}

.recipe-image {
    align-items: end;
    border: 4px solid #999;
    margin-left: 200%;
    /* float: right; */
}

.steps{
    /*color: rgb(0, 0, 0);*/
    font-size: 16px;
}