/*style sheet for recipe tiles*/

/*figure out and fix css for front and back of tile*/

.tile-front{
    width: 150px;
    height: 300px;
    border: 4px solid #999; 
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

button{
    width: 150px;
    height: 50px;
    border: 4px solid #999; 
    padding: 5px;
    font-size: 12px;
    font-style: 4097aa;
    text-align: center;
}

h2{
    color: #4097aa;
    font-size: 16px;
}