.profile-img-container{
    padding-bottom: 1.2em;
    padding-right: 1.2em;
    width: 6em;
    @media (max-width: 850px) {
        width: 40vw;
    }
}

.profile-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.member-grid{
    grid-template-columns: 50% 50%;
    font-size: 1.2em;
    @media (max-width: 850px) {
        grid-template-columns: 100%;
    }
}

.member-content{
    word-wrap: break-word;
    text-align: left;
    @media (max-width: 850px) {
        > h3 {
            font-size: 1em;
        }

        > .member-position {
            font-size: .75em;
        }
    }
    @media (min-width: 850px) {
        > p {
            margin: 0;
        }
    }
}


.grid-row {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    padding: 5%;
    float: left;
}

.grid-col{
    @media(max-width: 850px){
        .team-member-content{
            width: 40vw;
        }
    }
}

.management {
    background-color: rgb(68, 157, 173);
    height: 50vh;
}