  
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pantry-add {
  width: 100px;
  height: 50px;
  border: 4px solid #999; 
  padding: 5px;
  font-size: 12px;
  font-style: 4097aa;
  text-align: center;
}

.tile-style {
  flex-direction: row;
  text-align: left;
}


.tab-list {  border-bottom: 3px solid darksalmon;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: 0;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  transition-duration: 0.4s;
  color:black;
  background-color: lightslategrey;
}

.tab-list-active {
  background-color: #4097aa;
  border: solid darksalmon;
  border-width: 3px 2px 0 2px;
  cursor: pointer;
}

.tab-list-item:hover{
  background-color: black;
  color: white;
}

.tab-box{
  color: black;
  background-color: #4097aa;
}