.add-button{
    width: 80px;
    height: 50px;
    /*padding: 5px;*/
    font-size: 12px;
    /*font-style: 4097aa;*/
    text-align: center;
    /*align-self: 'center';*/
    cursor: pointer;
}


   .select {

    display:flex;
    flex-direction: column;
    width:90px;
    cursor: pointer;
    background:rgba(98, 114, 129, 1);
    color:white;
    /* border-radius:10px; */
    padding: 10px 20px;
    justify-content: left;
  }
  
  .option {
    background:rgba(45, 67, 87, 0.9);
    border-top:white solid 3px;
    transition:background .4s ease-in-out;
    padding: 0px 0px 0px 0px;
    flex:1;
    justify-content: center;

    
  }
  

  
  .select:focus .option {
    position:relative;
    pointer-events:all;
  }


    