/*style sheet for recipe instructions*/

.tile_front{
    width: 100px;
    height: 200px;
    border: 4px solid #999; 
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.button-style{
    width: 80px;
    height: 40px;
    border: 4px solid #999; 
    padding: 5px;
    font-size: 12px;
    font-style: 4097aa;
    text-align: center;
    align-self: 'center';
}

.steps{
    /*color: rgb(0, 0, 0);*/
    font-size: 16px;
}